@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
* {
    margin: 0;
	padding: 0;
}
body,html {
	height: 100%;
}
.card{
    width: 30%;
    margin: 60px auto;
    background: transparent;
    border: 0.8px solid rgb(231, 226, 226);
    border-radius: 10px; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.card img{
    width: 55%;
    align-self: center;
    margin-top: 20px;
    border-radius: 13px; 
    border: 2.5px solid rgb(231, 226, 226);
}
.card p{
    color: #ffeecc;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
}
.animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)} 
	to {-webkit-transform: scale(1)}
}
	
@keyframes animatezoom {
	from {transform: scale(0)} 
	to {transform: scale(1)}
}
hr{
	height:0.01px;
	color:rgb(194, 188, 188);
	background-color:rgb(218, 214, 214);
    width:99.5%; 
    margin-top: 0px;

}
.card h3{
   text-align: left;
   margin-top: 13px;
   color: white;
   text-align: center;
}
a{
    color: white;
}
.center li{
	margin:0 0.3rem;
}

@media only screen and (max-width: 905px) {
    .card {
        width: 70%;
    }
}
