@import url('https://fonts.googleapis.com/css?family=Cinzel');
* {
    margin: 0;
	padding: 0;
}
body,html {
	height: 100%;
	background-attachment: fixed;
}
#name {
	color: #ffeecc;
	font-size: 5rem;
	font-weight: 300;
	line-height: 1.6;
	font-family: 'Cinzel', serif;
}

.no-bg-tron {
	background: rgba(0,0,0,0);
}

.wrapper {
	display: table;
	width: 100%;
	height: 100%;
}

.mid-align {
	display: table-cell;
	vertical-align: middle;
}

@media screen and (max-width: 992px) {
    #name {
    	font-size: 3rem;
    }
}
